<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit CV.</title>
    <link rel="stylesheet" href="/assets/css/main.css"/>
</head>
<body class="row">
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>Edit CV.</h1>
            <form data-th-action="@{/{id}/edit(id=${cv.id})}" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Name of user" id="name" name="name" type="text" class="validate"
                               data-th-value="${cv.name}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Description" id="content" name="content" type="text" class="validate"
                               data-th-value="${cv.content}" required>
                    </div>
                </div>
                <button class="waves-effect waves-light btn" type="submit">Edit.</button>
            </form>

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../assets/js/main.js"></script>
<script src="../assets/js/sticky.js"></script>
<footer id="footer">
    <ul class="icons">
        <li><a href="https://github.com/random29/" class="icon fa-github"><span class="label">GitHub profile</span></a>
        </li>
        <li><a href="mailto:ilyin@ctemplar.com" class="icon fa-envelope-o"><span class="label">Email me</span></a></li>
        <li><a href="/" class="icon fa-home"><span class="label">Home</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; Ильин Илья, 2020</li>
    </ul>
</footer>
</body>
</html>